{% extends 'base.html' %}

{% block title %}
    Archivos Subidos - Mi Aplicación
{% endblock %}

{% block styles %}
    <!-- Incluye cualquier estilo específico para esta página si es necesario -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
    <h2>Archivos Subidos</h2>
    <div class="row">
        {% for upload in uploads %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ upload.usuario }}</h5>
                        <p class="card-text">Fecha: {{ upload.fecha }}</p>
                        <p class="card-text">Laboratorio: {{ upload.laboratorio }}</p>
                        <p class="card-text">CUIT: {{ upload.cuit }}</p>
                        <a href="{% url 'file_detail' upload.pk %}" class="btn btn-primary">Abrir</a>
                        <a href="{% url 'file_detail' upload.pk %}" class="btn btn-primary">Cerrar</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block scripts %}
    <!-- Incluye cualquier script específico para esta página si es necesario -->
    <script src="{% static 'js/prueba.js' %}"></script>
{% endblock %}
